@charset "utf-8";
body h1 {
	color: #E9450F;
	font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
	font-size: xx-large;
}
.key {
	-webkit-box-shadow: 0px 0px #F5F300;
	box-shadow: 0px 0px #F5F300;
	background-color: #0200F9;
	font-size: large;
	color: #E8F508;
}
body {
}

body p img {
	border: 10px dotted #1FED07;
}
body p {
}
body p {
}
body p {
}
body {
	background-image: url(%E8%83%8C%E6%99%AF.png);
}
body {
}
